* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}
nav {
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.3);
  top: 0;
  background: #111517;
}
nav img {
  height: 40px;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.mainCard_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.challan_div {
  background-color: #ffffff;
  width: 120%;
  color: #05ae0e;
}
/*Profile Pic Start*/
.profile_container {
  background-color: #999999;
  margin-top: 200px;
  width: 100%;
  height: auto;
  border: #3472f7 1px solid;
  padding: 10px;
}
.picture-container {
  width: 100%;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}
.picture {
  width: 100%;
  height: 200px;
  background-color: #999999;
  border: 4px solid #ff3b30;
  color: #ffffff;
  margin: 0px auto;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.picture:hover {
  border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover {
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover {
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover {
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover {
  border-color: #ff3b30;
}
.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src {
  width: 30%;
}
.challan_div button {
  width: 400px;
  padding: 15px 0;
  background-color: #3472f7;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dashboard_btn {
  background-color: #ff0000;
  width: 80%;
}
.infoBtn {
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
.infoBtn:hover {
  background-color: #000000;
}
.infoBtn:last-child{
  cursor: wait;
}
.Course {
  background-color: rgb(19 17 29);
  width: 80%;
  text-align: center;
  padding: 20px;
}
.startBtn{
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 60px;
  border: none;
  outline: none;
  margin-top: 20px; 
}
@media  only screen and (max-width: 420px) {
  .Course,.challan_div,.dashboard_btn{
    width: 100%;
  }
  .infoBtn,.Course{
    font-size: 15px;
  }
}