* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courgette", cursive;
  font-family: "Luxurious Roman", cursive;
}
nav {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  background: #212121;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo img {
  width: 200px;
  padding: 20px;
}
.right_side {
  display: flex;
  align-items: center;
}
.profile_icon {
  height: 50px;
  border-radius: 50%;
  padding: 0px 20px;
  cursor: pointer;
}
.main_menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}
.menu a:hover {
  text-decoration: underline;
}
.out {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: transparent;
  margin-right: 1em;
}
.humburgur {
  display: none;
}
main {
  margin-top: 100px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  background: url(./../images/image-res.img.76b3d816-71a6-42a0-bda5-b56969081f12.png)
    no-repeat center center/cover;
  height: 500px;
}
main h1 {
  text-transform: uppercase;
  font-size: 42px;
}
.info h4 {
  color: #ffffff;
  font-size: 25px;
  margin-top: 20px;
}

.info button {
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 22px;
  background: linear-gradient(to right, #ff7082, #c0e9ff);
  padding: 10px 40px;
  margin-top: 40px;
  border-radius: 10px;
  transition: 0.2s opacity;
  cursor: pointer;
}
.info button:hover {
  opacity: 0.8;
}
.arrow {
  display: none;
}
.subnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: sticky;
  top: 70px;
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 10px 0;
}
.submenu a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}
.content {
  background-color: #222;
  margin-top: 40px;
  padding: 50px 0;
  font-size: 20px;
  box-shadow: inset 0px 0px 10px 5px #000000;
}
.content h5,
h4 {
  padding: 20px 0;
  color: rgb(143, 53, 53);
}
.content h5,
h4,
h1,
h2 {
  margin: 10px 0 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
#course_labrary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.course_info {
  width: 40%;
}
li {
  list-style: url(./../icons/check.png);
}
.compare_labrary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.explore {
  margin-top: 40px;
  padding: 0px 40px;
}
.explore_card {
  background: linear-gradient(to right, #fc466b, #3f5efb);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  border-radius: 20px;
}
.explore_card button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 40px;
  cursor: pointer;
}
.explore_card button:hover {
  box-shadow: 0px 0px 5px 2px #000000;
}
#featureskill {
  margin-top: 40px;
  text-align: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 40px;
  gap: 50px;
  margin-top: 40px;
}
.skill_card {
  box-shadow: 0px 0px 5px 2px #8597f2;
  padding: 30px;
  background-color: rgb(66, 54, 54);
  width: 30%;
  height: auto;
}
.skill_card ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.skill_li {
  list-style: url(./../icons/skills.png);
}
.skill_card p {
  margin-bottom: 20px;
}
.skill_card a {
  text-decoration: none;
  color: #ff7082;
}
.skill_card a:hover {
  text-decoration: underline;
}
.qoute {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}
.qoute img {
  height: 100px;
}
.q {
  color: #f81332;
  width: 40%;
  font-size: 25px;
  margin-top: 20px;
}
footer {
  margin-top: 50px;
  padding: 40px 0;
  background: linear-gradient(to right, #f12711, #f5af19);
}
.qu {
  text-align: right;
  padding-right: 40px;
  padding-bottom: 40px;
}
.phone {
  list-style: url(./../icons/telephone.png);
  color: #3f5efb;
  cursor: help;
}
.icon {
  cursor: pointer;
  transition: 0.3s filter;
}
.icon:hover {
  filter: invert();
}
.copy {
  padding: 20px;
}
@media only screen and (max-width: 970px) {
  .logo {
    flex: 1;
  }
  nav {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .humburgur {
    display: block;
    padding: 0px 30px;
  }
  .humburgur img {
    height: 40px;
    filter: invert();
  }
  .main_menu {
    display: none;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    font-size: 22px;
  }
  .show_menu {
    z-index: 100;
    height: 100vh;
    display: block;
  }
  .menu a {
    display: block;
  }
  #course_labrary {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .qoute {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .right_side {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 20px 40px;
    font-size: 20px;
  }
  .level_menu {
    z-index: -1;
  }
  .q {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills {
    justify-content: center;
    align-items: center;
  }
  .skill_card {
    width: 40%;
  }
  .course_img {
    width: 80%;
  }
  .course_img img {
    width: 100%;
  }
  .subnav {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 670px) {
  .arrow {
    display: flex;
    justify-content: space-around;
  }
  .submenu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .chevron {
    height: 40px;
  }
  .subnav {
    display: block;
  }
  .sub_menu {
    display: flex;
  }
  .submenu a {
    margin-top: 40px;
  }
  .skill_card {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .info h4,
  .info button,
  .content h5,
  h4,
  h1,
  h2,
  .explore_card,
  #featureskill,
  .qoute,
  .course_info {
    font-size: 15px;
  }
  .compare_labrary {
    font-size: 13px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 320px) {
  .logo img {
    width: 150px;
  }
  .explore_card{
    padding: 10px;
    font-size: 13px;
  }
}
